@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E1A28ff;
    position: relative;
    /* animation: bg .3s alternate infinite; */
}

@keyframes bg {
    0% {
        background-color:rgb(14, 26, 40);
    }
    50% {
        background-color: rgb(66, 74, 66)
    }
    100% {
        background-color: rgb(118, 56, 12);
    }
}

@font-face {
  font-family: PixelArt-Regular;
  src: url('pixelart.otf'), url('pixelart.woff2'), url('pixelart.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('Op.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Hubballi;
  src: url('Hubballi.ttf');
  font-style: normal;
  font-weight: 100;
}

.custom-shadow {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}


.text-gradient {
  background: -webkit-linear-gradient(#fce8b6ff,#BF6525ff, #7eff7bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fadeIn {
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}